Populate_Data_Master.json
{
    "name": "Populate_Data_Master",
    "properties": {
        "activities": [
            {
                "name": "File_List",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "file",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "HeirLoop",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Filter_heir_Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Filter_heir_Tables').output.Value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 10,
                    "activities": [
                        {
                            "name": "invokingPip_heir",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "invoked_pipeline",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "p_file_name": {
                                        "value": "@item().name",
                                        "type": "Expression"
                                    },
                                    "p_table_name": {
                                        "value": "@replace(replace(item().name,'.txt',''),'hier.','')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Filter_heir_Tables",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "File_List",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('File_List').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@and(startswith(item().name,'hier'),equals(item().type,'File'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Fact_Loop",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Filter_fact_tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "HeirLoop",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Filter_fact_tables').output.Value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 2,
                    "activities": [
                        {
                            "name": "invokingPip_fact",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "invoked_pipeline",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "p_file_name": {
                                        "value": "@item().name",
                                        "type": "Expression"
                                    },
                                    "p_table_name": {
                                        "value": "@replace(replace(item().name,'.txt',''),'fact.','')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Filter_fact_tables",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "File_List",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('File_List').output.childItems",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@and(startswith(item().name,'fact'),equals(item().type,'File'))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "final_loading",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Staging_Table_Loading",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[final_process]"
                },
                "linkedServiceName": {
                    "referenceName": "SqlServer1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Staging_Table_Loading",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Fact_Loop",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[TableLoading]"
                },
                "linkedServiceName": {
                    "referenceName": "SqlServer1",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-03-06T14:36:44Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}